<html>

<head>
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">
        <div id="controlinfo">No connection to Host</div>
        <div id="joystickL" class="stickzone"></div>
        <div id="joystickR" class="stickzone"></div>
    </div>

    <script type="text/javascript" src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/nipplejs.min.js"></script>
    <script>
        var socket = io();
        var controlling = false;
        var waitingTime = 0;
        const checkupTime = 1000;

        var xy = [0, 0];

        var setXY = function() {
            socket.emit('xy', {
                'xy': xy
            });
        }

        var controlInfo = document.getElementById('controlinfo');


        //add mjpeg stream
        let hostUrl = window.location.hostname;
        let streamImg = document.createElement('img');
        streamImg.setAttribute('src', 'https://'+hostUrl+':8080/stream/video.mjpeg');
        streamImg.setAttribute('style', '-webkit-user-select: none');
        document.getElementById('container').appendChild(streamImg);

        //add joystick
        var stickL = nipplejs.create({
            zone: document.getElementById('joystickL'),
            mode: 'static',
            size: '255',
            position: {
                left: '10%',
                top: '80%'
            },
            color: 'black',
            restOpacity: '0.7'
        });

        var stickR = nipplejs.create({
            zone: document.getElementById('joystickR'),
            mode: 'static',
            size: '255',
            position: {
                left: '90%',
                top: '80%'
            },
            color: 'black',
            restOpacity: '0.7'
        });

        //save stick front divs
        var frontArray = document.getElementsByClassName('front');

        //function which moves the stick to the current position
        var moveStick = function() {
            frontArray[0].style.top = xy[0];
            frontArray[1].style.top = xy[1];
        }

        //listen for joystick movement
        stickL.on('move', function(ev, nipple) {
            //check if client is controlling
            if (controlling) {
                //set new position
                xy[0] = nipple.instance.frontPosition.y;
                //prevent lateral movement
                frontArray[0].style.left = 0;

                setXY();
            } else {
                //prevent all movement
                frontArray[0].style.left = 0;
                frontArray[0].style.top = 0;
            }
        });

        stickR.on('move', function(ev, nipple) {
            if (controlling) {
                xy[1] = nipple.instance.frontPosition.y;
                frontArray[1].style.left = 0;

                setXY();
            } else {
                frontArray[1].style.left = 0;
                frontArray[1].style.top = 0;
            }
        });

        stickL.on('end', function(ev, nipple) {
            xy[0] = 0;

            setXY();
        });

        stickR.on('end', function(ev, nipple) {
            xy[1] = 0;

            setXY();
        });

        var toggleSticks = function(control) {
            //controlElements.disabled = !control;
        }

        //toggle sliders initially
        toggleSticks(controlling);

        /* --------- SOCKET STUFF ------- */

        //set intial slider values
        socket.on('initialize', function(msg) {
            //set joystick
            xy = msg.xy;

            moveStick();
        });

        //lock sliders if user is not in control
        socket.on('controlling', function(msg) {
            controlling = msg.control;
            //toggleControlElements(controlling);

            //set control info
            if (controlling) {
                controlInfo.textContent = "Du kontrollierst den ArTank! Mal was cooles!";
            } else {
                //check if waiting time is still correct, if not, change it
                if (waitingTime !== msg.waitingTime && msg.waitingTime != "NaN") {
                    waitingTime = Math.floor(msg.waitingTime / 1000);
                }
            }
        });

        //transmit joystick values if user is not controlling
        socket.on('xy', function(msg) {
            if (!controlling) {
                xy = msg.xy;
                moveStick();
            }
        });

        //if client is not controlling, periodically check if control has been given to client
        var controllerCheck = function() {
            if (!controlling) {
                console.log("Checking for Controller change...");
                socket.emit('controllercheck', {});
            }
            setTimeout(
                controllerCheck, checkupTime);
        }

        controllerCheck();

        //set waiting timer
        var waitingTimer = function() {
            if (!controlling) {
                controlInfo.textContent = waitingTime + " Sekunden, bis du Panzermaler wirst!";

                if (waitingTime > 0)
                    --waitingTime;
            }
            setTimeout(waitingTimer, 1000);
        }

        waitingTimer();
    </script>
</body>

</html>
