<html>

<body>
    <script type="text/javascript" src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/nipplejs.min.js"></script>
    <script>
        var socket = io();
        var controlling = false;
        var waitingTime = 0;
        const checkupTime = 1000;

        var xy = [0, 0];

        var setXY = function() {
            socket.emit('xy', {
                'xy': xy
            });
        }
    </script>
    <div id="controlInfo">No connection to Host</div>
    <div id="joystick"></div>
    <script>
        //add joystick
        var stick = nipplejs.create({
            zone: document.getElementById('joystick'),
            mode: 'static',
            position: {
                left: '50%',
                top: '50%'
            },
            color: 'red'
        });

        //save front div
        var front = document.getElementsByClassName('front')[0];

        //function which moves the stick to the current position
        var moveStick = function() {
          front.style.left = xy[0];
          front.style.top = xy[1];
        }

        //listen for joystick movement
        stick.on('move', function(ev, nipple) {
          console.dir(nipple);
          xy = [nipple.instance.frontPosition.x, nipple.instance.frontPosition.y];

          setXY();
        });

        var toggleControlElements = function(control) {
            //controlElements.disabled = !control;
        }

        //toggle sliders initially
        toggleControlElements(controlling);

        //set intial slider values
        socket.on('initialize', function(msg) {
            //set joystick
            xy = msg.xy;

            moveStick();
        });

        //lock sliders if user is not in control
        socket.on('controlling', function(msg) {
            controlling = msg.control;
            //toggleControlElements(controlling);

            //set control info
            if (controlling) {
                controlInfo.textContent = "Du kontrollierst den ArTank! Mal was cooles!";
            } else {
                //check if waiting time is still correct, if not, change it
                if (waitingTime !== msg.waitingTime && msg.waitingTime != "NaN") {
                    waitingTime = Math.floor(msg.waitingTime / 1000);
                }
            }
        });

        //transmit joystick values if user is not controlling
        socket.on('xy', function(msg) {
          if(!controlling) {
            xy = msg.xy;
            moveStick();
          }
        });

        //if client is not controlling, periodically check if control has been given to client
        var controllerCheck = function() {
            if (!controlling) {
                console.log("Checking for Controller change...");
                socket.emit('controllercheck', {});
            }
            setTimeout(
                controllerCheck, checkupTime);
        }

        controllerCheck();

        //set waiting timer
        var waitingTimer = function() {
            if (!controlling) {
                controlInfo.textContent = waitingTime + " Sekunden, bis du Panzermaler wirst!";

                if (waitingTime > 0)
                    --waitingTime;
            }
            setTimeout(waitingTimer, 1000);
        }

        waitingTimer();
    </script>
</body>

</html>
