#container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#controls {
    position: relative;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    max-width: 900px;
}

#container > p {
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#video {
    width: 480px;
    max-height: 360px;
    background-color: red;
    flex: 1 0 100%;
    align-self: center;
}

.stickzone {
    margin-top: 160px;
    flex: 2 1 100%;
    align-self: center;
}

#instructions {
  margin-top: 30px;
}

@media (orientation: landscape) {
  #controls {
    flex-flow: row;
    align-items: center;
    max-width: 480px;
    justify-content: space-around;
  }

  #joystickL {
    flow: 1 6 20%;
    order: 0;
    position: relative;
  }

  #video {
    flow: 1 3 60%;
    order: 1;
    background-color: green;
    max-width: 480px;
    z-index: 1;
  }

  #joystickR {
    flow: 1 6 20%;
    order: 2;
    position: relative;
  }

  .stickzone {
    margin-top: 0px;
    flex: none;
    align-self: none;
  }

  .front {
    z-index: 2;
  }

  .back {
    border-radius: 15% !important;
    width: 180px !important;
    margin-left: -90px !important;
    z-index: 0;
  }
}
