body {
  background-image: url('/images/hintergrund-dotted-01.png');
}

#container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#controlinfo {
  font-size: 26px;
}

#controls {
    position: relative;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 900px;
}

#container>p {
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arvo', serif;
}

#mjpeg-relay {
    width: 360px;
    height: 240px;
    background-color: white;
    flex: 1 0 100%;
    align-self: center;
    background-image: url('/images/bluescreen.gif');
}

.stickzone {
    margin-top: 160px;
    flex: 2 1 100%;
    align-self: center;
}

#instructions {
    margin-top: 20px;
}

@media (orientation: landscape) {
    #controls {
        flex-flow: row;
        align-items: center;
        max-width: 360px;
        justify-content: space-around;
    }
    #joystickL {
        flow: 1 6 20%;
        order: 0;
        position: relative;
    }
    #video {
        flow: 1 3 60%;
        display: block;
        order: 1;
        background-color: white;
        z-index: 1;
    }
    #joystickR {
        flow: 1 6 20%;
        order: 2;
        position: relative;
    }
    .stickzone {
        margin-top: 0px;
        flex: none;
        align-self: none;
    }
    .front {
        z-index: 2;
    }

    #joystickL .back {
        border-radius: 25% 0 0 25% !important;
        width: 90px !important;
        margin-left: -90px !important;
        z-index: 0 !important;
    }

    #joystickR .back {
        border-radius: 0 25% 25% 0 !important;
        width: 90px !important;
        margin-left: 0px !important;
        z-index: 0 !important;
    }
}
